
@value global-radius from '../settings.css';

.product-section {
  composes: card from '../common/card';
  margin-top: 150px;
  margin-left: 260px;
  width: 40%;
  border-radius: global-radius;
}

  .header {
    composes: title from '../common/card';
    composes: subheading from '../common/typography';
    background: #ed193a;
    color: #fff;
  }

  .list {
    list-style: none;
    padding: 16px;
  }